<div class="div row">
    <div class="div col-sm-10">
      <input type="text" name="to-do" class="form-control" [(ngModel)]="todoValue" >
    </div>
    <div class="div col-sm-2">
      <button class="btn btn-primary" (click)="onTodoAdd(todoValue)" [disabled]="todoValue.length == 0">Dodaj zadatak</button>
    </div>
  </div>

  <div>
      <ul class="list-group">
        <app-todo-item *ngFor="let todo of todos" [todo]="todo" (deleteTodo)="onDelete($event)"></app-todo-item>
      </ul>
  </div>
  <p *ngIf="todos.length == 0" class="alert-danger text-center">Trenutno ne postoji ni jedan zadatak</p>
